body{
    margin: 0;
    height: 100vh;
}
.container{
    width: 700px;
    margin-inline: auto;
}
h1{
    font-size: 100px;
    font-weight: 100;
}
.show-image{
    display: inline-block;
}